<!DOCTYPE HTML>
{% load static %}
<html lang="pl">
    <head>
        {% include "./head.html" %}
    </head>

    <body>
        {% include "./menu.html" %}

         <div id="content">
            {% if data %}
                <ul>
                    <legend><h1>Księżyce</h1></legend>
                    {% if data.get_class == 'MoonObject' %}
                        <li>
                        id: {{data.id}}</br>
                        Nazwa: {{data.name}}</br>
                        Średnica (km): {{data.diameter}}</br>
                        Apocentrum (au): {{data.apoapsis}}</br>
                        Perycentrum (au): {{data.periapsis}}</br>
                        Okres orbitalny (d): {{data.orbital_period}}</br>
                        Prędkość orbitalna (km/s): {{data.orbital_speed}}</br>
                        Okres obrotu (h): {{data.rotation_period}}</br>
                        Jasnośc (mag): {{data.apparent_magnitude}}</br>
                        Planeta: {{data.satellite_of.name}}</br>
                        <form action="/cosmos/parse_fav_and_plan/" method="POST">
                            <input type="checkbox" id="favourite" name="favourite" value="{{data.id}}">
                            <label for="favourite">Dodaj do ulubionych</label><br>
                            <input type="checkbox" id="plan" name="plan" value="{{data.id}}">
                            <label for="plan">Dodaj do planu obserwacji</label><br>
                            <input type="checkbox" id="type" name="type" value="moon" checked="checked" style="opacity:0; position:absolute; left:9999px;">
                            {% csrf_token %}
                            <button type="submit">Wyślij</button>
                        </form>
                        </li>
                        </br></br>
                    {% endif %}
                </ul>
            {% endif %}
         </div>
        <div id="photos">
            {% if id %}
                {% for file in files %}
                    <a href="{% static path|add:file %}"><img src="{% static path|add:file %}" alt="moon_photo"></a>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>