<!DOCTYPE HTML>
{% load static %}
<html lang="pl">
    <head>
        {% include "./head.html" %}
    </head>

    <body>
    {% include "./menu.html" %}

    </br>
    <div id="context">
        au - Jedna jednostka astronomiczna, odległość Ziemi od Słońca - 149 597 871 kilometrów</br>
        ly - Jeden rok świetlny, równy odległości, jaką pokonuje światło w próżni w ciągu jednego roku - 63241 au = 9 500 000 000 000 km</br>
        R☉ - 696 342 km</br>
        M☉ - (1,98855 ± 0,00025) ×10<sup>30</sup> kg</br>
        R🜨 (Ziemi) - 6371,008 km</br>
        M🜨 (Ziemi) - 5,97219×10<sup>24</sup> kg</br>
        prędkość światła - 299 792 458 m/s</br>
        magnitudo - Wielkość gwiazdowa – pozaukładowa jednostka miary stosowana do oznaczania blasku gwiazd, im niższa tym obiekt jest jaśniejszy</br>
        aphelium/apocentrum - punkt orbity najdalszy środkowi masy układu, tzw. punkt największego oddalenia</br>
        peryhelium/perycentrum - punkt orbity najbliższy środkowi masy układu, zwykle ciału centralnemu o masie znacznie większej od mniejszego ciała obiegającego</br>
    </div>
    </body>
</html>